AUTH_SECRET = AMIlkwdQqsQ4ptFeSaW06Ey1iZKIauSM

NEXT_PUBLIC_API_URL = http://localhost:3000/api

NEXT_PUBLIC_MONGOOSE_URL = 

NEXT_PUBLIC_COUDINARY_CLOUD_NAME = 

NEXT_PUBLIC_COUDINARY_API_KEY = 

NEXT_PUBLIC_COUDINARY_API_SECRET = 

FRONTEND_URL = http://localhost:3000

ADMIN_USER = admin

ADMIN_PASS = admin