AUTH_SECRET = 

NEXT_PUBLIC_API_URL = 

NEXT_PUBLIC_MONGOOSE_URL = 

NEXT_PUBLIC_COUDINARY_CLOUD_NAME = 

NEXT_PUBLIC_COUDINARY_API_KEY = 

NEXT_PUBLIC_COUDINARY_API_SECRET = 

FRONTEND_URL = 

ADMIN_USER = 

ADMIN_PASS = 